/* Main login container */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94vh;
  background-color: #f5f5f5;
  /* background-color: #002358; */
}

/* Login container */
.lContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

/* Input fields */
.lInput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f5f5f5;
}

/* Login button */
.lButton {
  background-color: #003580;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

/* Login button hover effect */
.lButton:hover {
  background-color: #002358;
}

/* Login button animation */
.lButton:focus {
  outline: none;
  animation: pulse 1s;
}

/* Error message */
/* span {
  color: red;
  margin-top: 10px;
  font-size: 14px;
} */

/* Animations */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* Transitions */
input:focus,
button:focus {
  box-shadow: 0 0 5px rgba(0, 53, 128, 0.5);
  transition: box-shadow 0.3s ease;
}

.register a {
  color: #003580;
  text-decoration: none;
  /* font-size: 14px; */
  font-weight: bold;
  transition: color 0.3s ease;
}
