.navbar {
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 500;
  cursor: pointer;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  .navContainer {
    flex-direction: row;
    text-align: center;
    margin-top: 20px;
  }

  .navItems {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
  }

  .logo {
    margin-left: 20px;
    font-weight: 400;
  }
}
